<html>
    <head>
        <title>Weather App</title>
    </head>
    <body>
        <h1>Search</h1>
        <form action="/results" method="get">
            <input type="text" placeholder="Enter City Name" name="search">
            <button>Search</button>
        </form>
    </body>
</html>