<html>
    <head>
        <title>Weather App</title>
    </head>
    <body>
        <h1>Weather App</h1>
        <h2>Temp</h2>
        <h2><%= (data.main.temp-273.15).toFixed(2) %></h2>
    </body>
</html>